* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  height: 10rem;
  padding: 0 5rem;
  flex-direction: column;
}
header > div {
  margin: 1rem 0;
}
h1 {
  font-weight: 400;
}
.input-container {
  display: flex;
  align-items: center;
}
input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  width: 4.5rem;
}
p {
  font-size: 1.2rem;
}
.input-container > div {
  margin: 0 0.2rem;
}
button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #0275d8;
  color: white;
  width: 2rem;
}
#fibonnaci {
  font-weight: 700;
  text-decoration: underline;
}
.hidden {
  display: none !important;
}
.active {
  display: inline-block !important;
}

.lds-ring {
  display: flex;
  align-items: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 1px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
