ul {
    list-style: none;
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BF3326;
    height: 80px;
    padding: 4px;
}

.scores-list {
    display: flex;
}

.scores-list>li {
    padding: 0.5rem;
}