* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  height: 3.3rem;
}
.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 215px;
  height: 100%;
  background-color: #ffff;
  padding: 2rem 0;
}

.my-hr {
  margin-top: 1.3rem;
}
.sidebar-title-container {
  height: 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wrapper .sidebar ul li {
  padding: 0.5rem;
}
.logo {
  color: #109cf1;
}
.sidebar-title-container {
  padding: 0 1rem;
}
.topHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
}
.bellContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
}
.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.searchContainer * {
  margin: 0.5rem;
}
.searchInput {
  border: none;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}
.wrapper .main-content {
  width: 100%;
  margin-left: 200px;
}

/* begin sidebar content */
.profile-information {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.profile-information * {
  margin: 0 0.3rem;
}
.avatar {
  height: 100%;
  width: 4rem;
}
.bottom-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.personal-details p {
  font-size: 10px;
}
.li-container {
  display: flex;
}
.settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bottom-container p {
  margin: 0 0.5rem;
}
.bottom-container img {
  margin: 0 0.2rem;
}

/*begin content */
.content-container {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}
.left-content-container {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  width: 60%;
}
.this-week-span {
  color: #109cf1;
}
.top-task-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
}
.this-week-container {
  display: flex;
}
select {
  border: none;
}
.line {
  width: 100%;
  background-color: #2ed47a;
  height: 2px;
}
.line2 {
  width: 15%;
  background-color: #ebeff2;
}
.line-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
}
.date-container {
  width: 100%;
  display: flex;
  padding: 1rem 1rem;
}

.calendar-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.date-card * {
  text-align: center;
}
.first-selected {
  background: #109cf1;
  border-radius: 50%;
  padding: 2px;
}
.white-text {
  color: #ffff;
}
.selected-text {
  color: #109cf1;
}
.non-selected-text {
  color: #334d6e;
  opacity: 0.5;
}
.divider {
  padding: 1.5rem 0;
  width: 100%;
}
.section-divider {
  color: #ebeff2;
  width: 100%;
  border-bottom: none;
}

.card {
  padding: 1rem 1rem;
  margin: 1rem 0;
  box-shadow: 0px 2px 10px 0px #00000014;
}
.top-of-card {
  padding: 0 1rem;
}
.top-of-card * {
  padding: 0.2rem 0;
}
.top {
  display: flex;
  justify-content: space-between;
}
.bottom-of-card {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}
.card-picture-container {
  display: flex;

  padding: 0 0.5rem;
}
.card-picture-container * {
  padding: 0 0.3rem;
}
.completed-task {
  background-color: #2ed47a;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}
.finished-task {
  background-color: #f7685b;
  padding: 0.5rem;
  width: 6rem;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.card-name {
  color: #707683;
}
.name-container {
  width: 10rem;
  word-wrap: normal;
  display: flex;
  align-items: center;
}
.card-right-content {
  display: flex;
  align-items: center;
}
.icon-container {
  margin-right: 1rem;
  display: flex;
  width: 4rem;
  justify-content: space-evenly;
}
.icon-container i {
  color: #c2cfe0;
}
.card-image {
  border-radius: 50%;
}
.bottom-of-card-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.event-container {
  text-align: center;
  width: 5rem;
}
/* right content container content */
.right-content-container {
  width: 30rem;
  background: #ffff;
  margin: 0 1rem;
}
.separator-container {
  margin: 0.8rem 0;
  border: none;
}
.right-separator {
  border-top: none;
}

.top-chart {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.closed-deals-container {
  padding: 0 0.5rem;
  display: flex;
  width: 10rem;
  justify-content: flex-start;
}
.closed-deals-container * {
  padding: 0 0.2rem;
}
.graph-container {
  padding: 1rem 1rem;
}
.graphs-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-chart-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  background-color: #ffff;
  width: 30rem;
}
.bottom-charts-parent {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  width: 7rem;
  justify-content: flex-start;
}
.row * {
  padding: 0 0.1rem;
}
.deals-status-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 2rem;
}
.bottom-left-graph-container {
  padding: 1rem 0;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  * {
    font-size: 8px;
  }
  .content-container {
    background-color: #ffff;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  hr {
    padding: 0;
    margin: 0;
  }
  .left-content-container {
    margin: 0;
  }

  .calendar-container {
    display: none;
  }
  .left-content-container {
    width: 100%;
  }
  .wrapper .sidebar {
    display: none;
  }
  .bottom-of-card {
    padding: 0;
  }
  .card-picture-container {
    padding: 0;
  }
  .graphs-parent-container {
    width: 100%;
  }
  .graph {
    width: 10rem;
    height: 100%;
  }

  .searchContainer {
    width: 50%;
  }
  .header {
    justify-content: center;
  }

  .top-chart {
    align-items: center;
  }
  body {
    overflow-x: none;
  }
  .main-content {
    margin-left: 0;
  }
  .wrapper {
    display: flex;
    align-self: center;
    justify-self: center;
    width: fit-content;
    overflow-x: hidden;
  }

  .wrapper .main-content {
    margin-left: 0;
    width: 265px;
    overflow-x: none;
    overflow-x: hidden;
  }
  .right-content-container {
    width: 100%;
  }
  .bottom-chart-container {
    width: 100%;
  }

  .header {
    width: 300px;
  }
  .bottom-of-card {
    width: 220px;
  }
  .top {
    width: 220px;
  }
  .line-container {
    padding: 0;
  }
  body {
    overflow-x: hidden;
  }
  .graph2 {
    width: 15rem;
  }
}
