*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topHeader{
display: flex;
justify-content: space-evenly;
align-items: center;
height: 3rem;

}
.bellContainer{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
}
.searchContainer{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.searchContainer *{
    margin: 0.5rem;
}
.searchInput{
    border: none;
    width: 100%;
    height: 2rem;
}