/* stylelint-disable selector-class-pattern */

.todoitem__container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-top: 1px;
  margin-left: 1px;
  outline: 2px solid;
}

.todo__item {
  display: flex;
}

.todo__icons {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.todo__icon {
  font-size: 1.2rem;
}

.todo__icon:hover {
  cursor: pointer;
}

.todo__edit-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
