/* stylelint-disable selector-class-pattern */

.form__container {
  display: flex;
  align-items: center;
}

.form__top {
  display: flex;
  flex-direction: column;
}

.form__top > div {
  margin: 1.2rem 0;
}

.btn {
  height: 2.4rem;
  border: 1px solid black;
}

.btn--primary {
  background-color: #286adc;
}

.btn--white-text {
  color: white;
}

.form__bottom {
  display: grid;
  flex-direction: column;
  text-align: center;
}

.btn--invalid {
  cursor: not-allowed;
  opacity: 0.5;
}

.input__container > .input__icon {
  position: absolute;
  width: 1rem;
  padding: 0.6rem;
  text-align: center;
}

.input__container > input {
  min-width: 26rem;
  height: 2.4rem;
  padding: 0 2rem;
  border: 1px solid black;
}

.disabled {
  color: gray;
}

.form__inputs > label {
  font-weight: bolder;
}

.form__inputs {
  margin: 0.4rem 0;
}

/* .login__header {
  font-size: 3.5rem;
  text-align: center;
} */

.login__input--invalid {
  border: 2px solid red !important;
}

.login__error-message {
  font-size: 0.9rem;
  color: red;
}

.login__error--hide {
  display: none;
}

.login__error-message > p {
  margin: 0 1rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

@media only screen and (max-width: 600px) {
  .input__container > input {
    min-width: 20rem;
    height: 2.4rem;
    padding: 0 2rem;
    border: 1px solid black;
  }

  .login__error-message {
    max-width: 22rem;
  }
}
